<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 bg-info p-4">
                <form [formGroup]="findDoctor" (ngSubmit)="onSubmit()">
                    <h5>Find Doctor</h5>
                    <div class="form-group">
                        <label>Specializare</label>
                        <select class="form-control" id="speciality" name="speciality" formControlName="speciality">
                            <option>-</option>
                            <option *ngFor="let speciality of specialities">{{speciality}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Hospital</label>
                        <select class="form-control" id="hospital"  name="hospital" formControlName="hospital">
                            <option>-</option>
                            <option *ngFor="let hospital of hospitals">{{hospital}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <select class="form-control" id="city"  name="city" formControlName="city">
                            <option>-</option>
                            <option *ngFor="let city of cities">{{city}}</option>
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" [disabled]="!findDoctor.valid" class="btn btn-dark">Filter</button>
                    </div>
                </form>
        </div>
        <div class="col-md-6 bg-info" style="margin-left: 20px">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Hospital</th>
                        <th scope="col">Speciality</th>
                        <th scope="col">Info</th>
                        <th scope="col">Add Comment</th>
                        <th scope="col">Reservation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doctor of doctors">
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.hospital }}</td>
                        <td>{{ doctor.speciality }}</td>
                        <td><a routerLink="/info/{{ doctor._id }}">Info</a></td>
                        <td><a routerLink="/comment">Write Comment</a></td>
                        <td><a routerLink="/reservation/{{ doctor._userId }}">Schedule reservation</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
